<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    #errorlist {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #errorlist td, #errorlist th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #errorlist tr:nth-child(even){background-color: #f2f2f2;}

    #errorlist tr:hover {background-color: #ddd;}

    #errorlist th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #aa0404;
      color: white;
    }
  </style>
  <meta charset="UTF-8">
  <title th:text="${@environment.getProperty('messages.error.title')}"></title>
</head>
<body>
<tr th:text="${tilgungsplanServiceException} ?: ${tilgungsplanServiceException}"> </tr>
  <br><br>
  <a href="/" th:text="${@environment.getProperty('messages.error.try_again')}"></a>
</body>
</html>  <!-- TODO: test this -->