<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form action="#" th:action="@{/}" th:object="${inputForm}" method="post">
  <table>
    <tr>
      <h1>Tillgungsplan Rechner</h1>
      <td title="Insert it">Darlehensbetrag:</td>
      <td><label>
        <input type="text" th:field="*{darlehensbetrag}" />
      </label></td>
    </tr>
    <tr>
      <td>Zinssatz:</td>
      <td><label>
        <input type="text" th:field="*{zinssatz}" />
      </label></td>
    </tr>
    <tr>
      <td>Anfängliche Tilgung:</td>
      <td><label>
        <input type="text" th:field="*{anfaenglichenTilgung}" />
      </label></td>
    </tr>
    <tr>
      <td>Zinsbindung:</td>
      <td><label>
        <input type="text" th:field="*{zinsbindung}" />
      </label></td>
    </tr>
    <tr>
      <td>
        <button type="submit" value="submit">Submit</button>
      </td>
    </tr>
  </table>
</form>
</body>
</html>
